.movie-card {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

.movie-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.movie-card button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.movie-card button:hover {
  background-color: #0056b3;
}